@charset "UTF-8";

body {
  background-image: url(https://images7.alphacoders.com/858/858366.jpg);
  background-attachment: fixed;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sessao-flutuante {
  padding-bottom: 30px;
  color: white;
  background-color: #00008161;
  border-radius: 20px;
  max-width: 1000px;
  text-align: center;
}

.sessaocompleta {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sessao-links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.sessao-links a {
  background-color: #0e0e87;
  color: white;
  text-decoration: none;
  padding: 20px 25px;
  font-family: 'Playfair Display';
  border-radius: 12px;
  font-size: 18px;
  text-align: center;
}

.sessao-links a:hover {
  background-color: rgb(7 55 105);
  transform: translateY(-5px);
}

h1 {
  font-size: 2.25rem;
  font-family: 'Great Vibes';
}

/* Media Queries */
@media (max-width: 1200px) {
  .sessaocompleta {
    padding: 8%;
    min-height: auto;
  }

  .sessao-links a {
    padding: auto;
  }
}

@media (max-width: 600px) {
  body {
    background-position: 30% 30%;
  }

  h1 {
    font-size: 30px;
    margin: 35px 20px;
  }

  .sessao-links {
    flex-direction: column;
  }

  .sessao-links a {
    width: 50%;
  }
}
